.header{
    background-color: aquamarine;
    text-align: center;
}

.menu{
    display: flex;
    align-items: center;
    background-color: blueviolet;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.menu ul li a:hover{
    border-radius: 5px;
    background-color: rgb(82, 172, 82);
    color: white;
}

.login{
    border: 1px solid black;
    border-radius: 5px;
}

.table{
    display: flex;
    justify-content: center;
    width: 1453px;
    padding: 94px;
}

table{
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

.flex-box{
    display: flex;
    justify-content: center;
}

.footer{
    text-align: center;
    background-color: chocolate;
}