/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
}

.brand-name{
    width: 175px;
}

.brand-name img{
    width: 100%;
} */


.navbar-brand{
    width: 175px;
}
.navbar-brand img{
    width: 100%;
}

.navbar-nav li a{
    color: green !important;
}