@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.hero-section {
  height: 600px;
}

.left-content {
  position: relative;
  z-index: 1;
}

.left-content button {
  padding: 13px 30px;
}

.right-img {
  position: absolute;
  right: 242px;
  top: 60px;
}

.navbar-brand img {
  width: 175px;
}

.right-content img {
  width: 100%;
}

.image {
  width: 30px;
  height: 30px;
}

.student {
  color: white;
}

.backgroundimg {
  background: url("images/images (16).jpeg");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
}

.address {
  height: 200px;
  color: white;
  background-color: #0e72cc;
}

.bg {
  background: url(images/Hero-BG.jpg);
  /* background-position: cover; */
  background-repeat: no-repeat;
  background-position: center top;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(14, 114, 204, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") ; 
  
}

.nav-item{
  
}

.nav-link{
  color: #0e72cc !important;
  padding: 15px 10px !important;
}

a.nav-link {
    position: relative;
}

i.fa-solid.fa-circle {
    font-size: 6px;
    position: absolute;
    right: 1px;
    top: 17px;
}