@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Top Courses Background image start */

.backgroundimg {
  /* background: url("images/images (16).jpeg");
  object-fit: cover;
  background-size: cover;
  background-position: center; */
  
  display: flex;
  justify-content: center;
}

.backgroundimg img{
    width: 200px;
  height: 200px;
}

/* Top Courses Background image End */

.course{
    text-align: center;
    position: relative;
}

.small-card{
    background-color: #EBB36B;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}


.grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
}

.grid-div img{
    width: 200px;
    height: 200px;
}

.grid-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: cadetblue;
}


@media only screen and (max-width: 600px){
	/*Small smartphones [325px -> 425px]*/
    .grid-div{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
   }  
}